.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-large);
  margin-bottom: var(--spacing-large);
}

.card {
  width: 300px;
  background-color: var(--color-secondary);
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  border: solid;
  border-color: var(--color-tertiary);
}

.card__image-container {
  position: relative;
  width: calc(100% - 2 * var(--spacing-medium));
  height: 0;
  padding-bottom: 75%;
  margin: var(--spacing-medium);
  border-radius: 12px;
  overflow: hidden;
}

.card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 12px;
}

.card__image-container:hover .card__image {
  transform: scale(1.1);
}

.card__content {
  padding: var(--spacing-medium);
  display: grid;
  gap: var(--spacing-medium);
}

.card__title {
  font-size: var(--font-size-large);
  letter-spacing: var(--letter-spacing-wide);
  line-height: 1.2;
  margin: 0;
  color: var(--color-primary);
  padding-bottom: var(--spacing-medium);
  border-bottom: 1px solid var(--color-tertiary);
}

.card__info {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px var(--spacing-medium);
}

.card__info-title {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  color: var(--color-primary);
}

.card__info-description {
  font-size: var(--font-size-base);
  text-align: right;
  color: var(--color-primary);
}

li {
  list-style: none;
}

@media (max-width: 767px) {
  .card-container {
    padding: 0 var(--spacing-large);
  }

  .card {
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .card-container {
    max-width: calc(3 * 300px + 2 * var(--spacing-large));
  }

  .card {
    width: 300px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .card-container {
    max-width: calc(4 * 300px + 3 * var(--spacing-large));
  }

  .card {
    width: 300px;
  }
}

@media (min-width: 1440px) {
  .card-container {
    max-width: calc(5 * 300px + 4 * var(--spacing-large));
  }

  .card {
    width: 300px;
  }
}
